# Core dependencies
fastmcp>=0.4
httpx[http2]>=0.27
pydantic>=2.7
python-dotenv>=1.0.0
PyYAML>=6.0
uvicorn[standard]>=0.30

# AI/LLM dependencies
langchain>=1.2.0
langchain-groq>=1.1.1 # for groq based model
langchain-openai # for openai model
langchain-mcp-adapters>=0.2.1

# FastApi App
fastapi